
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.container {
    padding: 0;
}

.containerStyle {
    height: auto;
    z-index: 99;
    opacity: 0.90;
    background-color: #d3d3d3;
}

.banners {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.imgBanner {
    width: 100%;
}

.containerProductos {
    display: flex;
    flex-flow: column wrap;
}

/*
.carrito-wrapper {
    position: absolute;
    right: -350px;
    min-height: 100vh;
    background-color: #d3d3d3;
    width: 350px;
    
}
*/

.filtroPrecios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    border-top: 4px solid rgb(33,37,41);
    border-bottom: 4px solid rgb(33,37,41);

}

.sectionProductos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productosFlex {
    display: flex;
    flex-flow: row wrap;
}

.botonFiltro {
    font-size: 1.2rem;
    background-color: rgb(33,37,41);
    color: white;
}

.buttonCompra:hover {
    background-color: darkviolet;
    border: none;
    color: white;
}

.card {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.ordenPrecio {
    display: flex;
    flex-direction: row;
    justify-content: start;
}